<html layout:decorate="~{layout}">
     <div layout:fragment="content" class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>순번</th>
                            <th>제목</th>
                            <th>작성일자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "board, index : ${boardPaging}">
                            <td th:text="${index.count}"></td>
                            <td>
                                <a th:href="@{|/board/detail/${board.bno}|}" th:text="${board.title}"></a>
                            </td>
                            <td th:text = "${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="text-end">
                    <a th:href="@{/board/create}" class="btn btn-sm btn-primary">글쓰기</a>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <!-- 페이징 컨트롤 영역 -->
                 <div th:if="${!paging.isEmpty()}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? disabled">
                            <a th:href="@{|?page=${paging.number-1}|}" class="page-link">
                                <span>&lt;</span>
                            </a>
                        </li>
                        <!-- 실제 페이지 번호 컨트롤 -->
                         <li class="page-item">
                            <a th:href="@{|?page=${pagingBoard.number+1}|}" class="page-link">
                                <span>&gt;</span>
                            </a>
                         </li>
                    </ul>
                 </div>
                <div class="text-end">
                    <a th:href="@{/board/create}" class="btn btn-sm btn-primary">글쓰기</a>
                </div>
            </div>
        </div>
     </div>

</html>